In [1]:
%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from pandas import unique
import json
from pandas.io.json import json_normalize
import seaborn as sns

In [53]:
sd = pd.read_csv('SpDat.csv')
sd = pd.DataFrame(sd)
sd = sd[['iid','pid','gender','age','field_cd','race','imprace','imprelig','date','go_out','exphappy','attr','sinc','intel','fun','like','age_o','race_o','attr_o','sinc_o','intel_o','fun_o','dec_o','samerace','int_corr','match']]
sd.head()

,iid,pid,gender,age,field_cd,race,imprace,imprelig,date,go_out,...,age_o,race_o,attr_o,sinc_o,intel_o,fun_o,dec_o,samerace,int_corr,match
0,1,11.0,0,21.0,1.0,4.0,2.0,4.0,7.0,1.0,...,27.0,2.0,6.0,8.0,8.0,8.0,0,0,0.14,0
1,1,12.0,0,21.0,1.0,4.0,2.0,4.0,7.0,1.0,...,22.0,2.0,7.0,8.0,10.0,7.0,0,0,0.54,0
2,1,13.0,0,21.0,1.0,4.0,2.0,4.0,7.0,1.0,...,22.0,4.0,10.0,10.0,10.0,10.0,1,1,0.16,1
3,1,14.0,0,21.0,1.0,4.0,2.0,4.0,7.0,1.0,...,23.0,2.0,7.0,8.0,9.0,8.0,1,0,0.61,1
4,1,15.0,0,21.0,1.0,4.0,2.0,4.0,7.0,1.0,...,24.0,3.0,8.0,7.0,9.0,6.0,1,0,0.21,1

In [15]:
pd.DataFrame(sd.columns.values.reshape(5,6))

         0         1       2         3         4      5
0      iid       pid  gender       age  field_cd   race
1  imprace  imprelig    date    go_out  exphappy   attr
2     sinc     intel     fun       amb      shar   like
3    age_o    race_o  attr_o    sinc_o   intel_o  fun_o
4    amb_o    shar_o   dec_o  samerace  int_corr  match

In [55]:
sd= sd.dropna()
sd.shape

(7330, 26)

(7330, 26)