In [348]:
%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from pandas import unique
import json
from pandas.io.json import json_normalize
import seaborn as sns

In [465]:
sd = pd.read_csv('SpDat.csv')
sd = pd.DataFrame(sd)
sd = sd[['iid','pid','gender','age','field_cd','race','imprace','imprelig','date','go_out','exphappy','attr','sinc','intel','fun','like','dec','age_o','race_o','attr_o','sinc_o','intel_o','fun_o','dec_o','samerace','int_corr','match','attr1_1','sinc1_1','intel1_1','fun1_1','amb1_1','shar1_1','sports','theater','clubbing','tv','gaming','yoga','art','field_cd']]
sd.head()

,iid,pid,gender,age,field_cd,race,imprace,imprelig,date,go_out,...,amb1_1,shar1_1,sports,theater,clubbing,tv,gaming,yoga,art,field_cd
0,1,11.0,0,21.0,1.0,4.0,2.0,4.0,7.0,1.0,...,15.0,15.0,9.0,1.0,5.0,9.0,1.0,1.0,1.0,1.0
1,1,12.0,0,21.0,1.0,4.0,2.0,4.0,7.0,1.0,...,15.0,15.0,9.0,1.0,5.0,9.0,1.0,1.0,1.0,1.0
2,1,13.0,0,21.0,1.0,4.0,2.0,4.0,7.0,1.0,...,15.0,15.0,9.0,1.0,5.0,9.0,1.0,1.0,1.0,1.0
3,1,14.0,0,21.0,1.0,4.0,2.0,4.0,7.0,1.0,...,15.0,15.0,9.0,1.0,5.0,9.0,1.0,1.0,1.0,1.0
4,1,15.0,0,21.0,1.0,4.0,2.0,4.0,7.0,1.0,...,15.0,15.0,9.0,1.0,5.0,9.0,1.0,1.0,1.0,1.0

In [466]:
pd.DataFrame(sd.columns.values.reshape(13,3))

ValueError: cannot reshape array of size 41 into shape (13,3)

In [477]:
#drop nulls
sd= sd.dropna()
#filter out those who had less than 5 total dates.
datecount= pd.DataFrame(sd.groupby('iid').count())
datecount= datecount['pid']
datecount = datecount.reset_index()
datecount.columns = [['iid','datecount']]
sd = pd.merge(sd,datecount)
sd = sd[sd['datecount']>4]
sd.shape

(7263, 42)

In [482]:
by_person = sd.pivot_table(index=sd['iid'])
by_person= by_person.reset_index()
fig = plt.figure()

sns.lmplot(x="theater", y="dec_o", hue="gender", data=by_person, fit_reg=True,size=4.25)

InvalidIndexError: Reindexing only valid with uniquely valued Index objects

In [473]:
gamers = by_person['iid'][by_person['attr1_1'] > 8]

only_gamers = sd[sd.iid.isin(gamers)]
only_gamers = only_gamers[only_gamers.pid.isin(gamers)]
only_gamers['attr_o'].describe()

count    6867.000000
mean        6.224683
std         1.930750
min         0.000000
25%         5.000000
50%         6.000000
75%         8.000000
max        10.500000
Name: attr_o, dtype: float64

In [427]:
sd['attr_o'].describe()

count    4308.000000
mean        6.148422
std         1.948076
min         0.000000
25%         5.000000
50%         6.000000
75%         7.000000
max        10.500000
Name: attr_o, dtype: float64

In [432]:
sd['attr5_1'].round().value_counts()

7.0     1482
8.0     1022
6.0      672
5.0      391
9.0      344
10.0     145
4.0      121
3.0       95
2.0       36
Name: attr5_1, dtype: int64