In [1]:
import numpy as np
import pandas as pd

In [4]:
rng = pd.date_range('3/6/2012 00:00', periods = 15, freq = 'D')
rng.tz

In [3]:
rng_tz = pd.date_range('3/6/2012 00:00', periods = 15, freq = 'D', tz = 'Europe/London')
rng_tz.tz

In [5]:
from pytz import common_timezones, all_timezones
print(len(common_timezones))
print(len(all_timezones))
print(set(all_timezones) - set(common_timezones))

439
593
{'Etc/GMT+1', 'America/Argentina/ComodRivadavia', 'Australia/Yancowinna', 'America/Indianapolis', 'Jamaica', 'Brazil/DeNoronha', 'America/Rosario', 'EST5EDT', 'Asia/Katmandu', 'Etc/UCT', 'Chile/EasterIsland', 'Portugal', 'MST7MDT', 'Asia/Thimbu', 'Etc/GMT+2', 'Canada/Yukon', 'Turkey', 'Australia/North', 'NZ-CHAT', 'Hongkong', 'Brazil/East', 'America/Santa_Isabel', 'Japan', 'US/Aleutian', 'Australia/Canberra', 'Etc/Zulu', 'America/Atka', 'America/Buenos_Aires', 'US/Indiana-Starke', 'Asia/Calcutta', 'Etc/GMT+5', 'GB', 'Pacific/Yap', 'America/Louisville', 'Eire', 'Asia/Ashkhabad', 'Etc/GMT+7', 'US/East-Indiana', 'Mexico/BajaSur', 'Etc/GMT-2', 'Mexico/BajaNorte', 'Etc/GMT-4', 'Etc/GMT', 'PST8PDT', 'Etc/Greenwich', 'W-SU', 'Singapore', 'Israel', 'US/Michigan', 'Australia/Queensland', 'Chile/Continental', 'US/Samoa', 'America/Jujuy', 'Etc/GMT+6', 'Etc/GMT-9', 'Asia/Dacca', 'MET', 'Etc/GMT+11', 'Libya', 'Kwajalein', 'Australia/Victoria', 'Etc/GMT-11', 'Zulu', 'Atlantic/Jan_Mayen', 'America/Knox_IN', 'Africa/Timbuktu', 'Brazil/West', 'America/Ensenada', 'Etc/GMT-3', 'Poland', 'Etc/GMT-12', 'Pacific/Ponape', 'UCT', 'America/Montreal', 'Mexico/General', 'Canada/Saskatchewan', 'Etc/GMT-1', 'America/Shiprock', 'Iran', 'Europe/Belfast', 'ROC', 'Greenwich', 'Asia/Saigon', 'Europe/Nicosia', 'Canada/East-Saskatchewan', 'Etc/GMT-8', 'Etc/GMT+12', 'HST', 'Pacific/Johnston', 'Brazil/Acre', 'EST', 'Australia/West', 'Etc/GMT-5', 'GMT+0', 'Etc/Universal', 'Africa/Asmera', 'Iceland', 'Asia/Macao', 'Asia/Kashgar', 'Etc/GMT+9', 'ROK', 'Etc/GMT-14', 'Asia/Ujung_Pandang', 'Antarctica/South_Pole', 'America/Porto_Acre', 'GMT0', 'America/Mendoza', 'Asia/Chungking', 'Navajo', 'Asia/Rangoon', 'America/Fort_Wayne', 'America/Coral_Harbour', 'Universal', 'Etc/GMT-13', 'WET', 'Etc/GMT+8', 'America/Virgin', 'Etc/GMT+3', 'Etc/GMT-0', 'Etc/GMT-10', 'GB-Eire', 'Egypt', 'Asia/Harbin', 'Australia/Tasmania', 'Cuba', 'NZ', 'Asia/Tel_Aviv', 'Australia/LHI', 'Australia/South', 'Etc/GMT+10', 'CET', 'Etc/GMT0', 'US/Pacific-New', 'CST6CDT', 'Australia/ACT', 'Atlantic/Faeroe', 'Australia/NSW', 'America/Catamarca', 'Etc/GMT-6', 'MST', 'Asia/Ulan_Bator', 'Europe/Tiraspol', 'America/Cordoba', 'Pacific/Samoa', 'Asia/Istanbul', 'Pacific/Truk', 'Etc/UTC', 'PRC', 'GMT-0', 'Etc/GMT+4', 'Asia/Chongqing', 'Etc/GMT-7', 'EET', 'Etc/GMT+0'}

In [6]:
# You can also localize a naive timestamp
t_naive = pd.Timestamp('2016-07-10 08:50')
t_naive

Timestamp('2016-07-10 08:50:00')

In [7]:
t = t_naive.tz_localize(tz = 'US/Central')
t

Timestamp('2016-07-10 08:50:00-0500', tz='US/Central')

In [8]:
t.tz_convert('Asia/Tokyo')

Timestamp('2016-07-10 22:50:00+0900', tz='Asia/Tokyo')

In [9]:
# how to handle daylight savings?
rng = pd.date_range('2016-03-10', periods=10, tz='US/Central')
ts = pd.Series(range(10), index=rng)
ts

2016-03-10 00:00:00-06:00    0
2016-03-11 00:00:00-06:00    1
2016-03-12 00:00:00-06:00    2
2016-03-13 00:00:00-06:00    3
2016-03-14 00:00:00-05:00    4
2016-03-15 00:00:00-05:00    5
2016-03-16 00:00:00-05:00    6
2016-03-17 00:00:00-05:00    7
2016-03-18 00:00:00-05:00    8
2016-03-19 00:00:00-05:00    9
Freq: D, dtype: int64

In [16]:
rng = pd.date_range('2016-03-10', periods=10, tz='utc')
ts = pd.Series(range(10), index=rng)
ts

2016-03-10 00:00:00+00:00    0
2016-03-11 00:00:00+00:00    1
2016-03-12 00:00:00+00:00    2
2016-03-13 00:00:00+00:00    3
2016-03-14 00:00:00+00:00    4
2016-03-15 00:00:00+00:00    5
2016-03-16 00:00:00+00:00    6
2016-03-17 00:00:00+00:00    7
2016-03-18 00:00:00+00:00    8
2016-03-19 00:00:00+00:00    9
Freq: D, dtype: int64

In [12]:
ts.tz_convert('US/Central')

2016-03-09 18:00:00-06:00    0
2016-03-10 18:00:00-06:00    1
2016-03-11 18:00:00-06:00    2
2016-03-12 18:00:00-06:00    3
2016-03-13 19:00:00-05:00    4
2016-03-14 19:00:00-05:00    5
2016-03-15 19:00:00-05:00    6
2016-03-16 19:00:00-05:00    7
2016-03-17 19:00:00-05:00    8
2016-03-18 19:00:00-05:00    9
Freq: D, dtype: int64

In [17]:
pd.date_range('03-12-2016 22:00', periods = 12, freq = 'H', tz = 'US/Eastern')

DatetimeIndex(['2016-03-12 22:00:00-05:00', '2016-03-12 23:00:00-05:00',
               '2016-03-13 00:00:00-05:00', '2016-03-13 01:00:00-05:00',
               '2016-03-13 03:00:00-04:00', '2016-03-13 04:00:00-04:00',
               '2016-03-13 05:00:00-04:00', '2016-03-13 06:00:00-04:00',
               '2016-03-13 07:00:00-04:00', '2016-03-13 08:00:00-04:00',
               '2016-03-13 09:00:00-04:00', '2016-03-13 10:00:00-04:00'],
              dtype='datetime64[ns, US/Eastern]', freq='H')

In [18]:
# May autocorrect an error rather than giving you a non-existent time error
pd.Timestamp('2016-03-13 01:00', tz = 'US/Eastern')

NonExistentTimeError: 2016-03-13 02:00:00