In [7]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import scipy as sp
import seaborn as sns
import numpy as np
from sklearn.preprocessing import StandardScaler

In [9]:
career = pd.read_csv('../Data/career1.csv')
career = career.set_index('Unnamed: 0')
#filter bad columns
anyonecan = ['Longest Pass','Longest Reception','Longest Rushing Run']
messedup = ['Seasons','Fumbles']
career = career.drop(messedup + anyonecan,axis=1)

###### make new columns
career['SB'] = career['SB Win'] + career['SB Loss']
career['RRYd'] = career['Rushing Yards adj'] + career['Receiving Yards adj']
career['RRTD'] = career['Rushing TDs adj'] + career['Receiving TDs adj']

#make appendix
appendix = pd.DataFrame()
appendix['Columns'] = career.columns
for a in career.columns:
    dtype = career[str(a)].dtype
    appendix.loc[appendix['Columns']==a,'Data Type'] = dtype


#current players
currentplayers= career[career['Last Year']>2005]
#training data
career= career[career['First Year']>1960]
career = career[career['Last Year']<2006]
career.shape

(2153, 52)

In [10]:
quarters = career[career['Position']==0]
quart

,Player Id,Name,Position,5Year,Completion Percentage,First Down Receptions,First Year,Games Played,HOF,Int Rate,...,Yards Per Carry,Yards Per Reception,Year,MVP,SB MVP,GWD,PGWD,SB,RRYd,RRTD
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
0,'omarellison/2500540,"Ellison, 'Omar",2,1995,0.000000,3.0,1995,12.0,0,0.000000,...,0.000000,0.000000,1996.0,0.0,0.0,0.0,0.0,1.0,24.335282,0.000000
5,a.j.ofodile/2502342,"Ofodile, A.J.",2,1995,0.000000,0.0,1997,24.0,0,0.000000,...,0.000000,0.000000,1998.0,0.0,0.0,0.0,0.0,0.0,28.970574,0.000000
7,aaronbailey/2499487,"Bailey, Aaron",2,1995,0.000000,48.0,1994,64.0,0,0.000000,...,0.000000,0.000000,1996.0,0.0,0.0,0.0,0.0,0.0,1262.120754,6.179104
11,aaronlaing/2501680,"Laing, Aaron",2,1995,0.000000,7.0,1994,32.0,0,0.000000,...,0.000000,0.000000,1996.0,0.0,0.0,0.0,0.0,0.0,170.346975,1.029851
12,aaronmarsh/2520184,"Marsh, Aaron",2,1965,0.000000,0.0,1968,28.0,0,0.000000,...,0.000000,0.000000,1968.0,0.0,0.0,0.0,0.0,0.0,560.206191,4.600000
13,aaronpierce/2502481,"Pierce, Aaron",2,1995,0.000000,46.0,1992,82.0,0,0.000000,...,0.000000,0.000000,1995.0,0.0,0.0,0.0,0.0,0.0,1199.810566,6.328977
16,aaronthomas/2527207,"Thomas, Aaron",2,1965,0.000000,0.0,1961,133.0,0,0.000000,...,0.000000,17.381679,1965.0,0.0,0.0,0.0,0.0,0.0,5666.402538,42.550000
27,adamwalker/2503497,"Walker, Adam",1,1990,0.000000,4.0,1987,45.0,0,0.000000,...,0.000000,0.000000,1994.0,0.0,0.0,0.0,0.0,1.0,234.412275,2.782609
28,adamwalker/2528077,"Walker, Adam",1,1985,0.000000,0.0,1987,2.0,0,0.000000,...,0.000000,0.000000,1987.0,0.0,0.0,0.0,0.0,0.0,30.734032,0.000000
29,adgerarmstrong/2508627,"Armstrong, Adger",2,1980,0.000000,0.0,1980,80.0,0,0.000000,...,0.000000,0.000000,1982.0,0.0,0.0,0.0,0.0,0.0,1177.752615,11.598644
33,adrianmadise/2505446,"Madise, Adrian",1,2000,0.000000,0.0,2003,11.0,0,0.000000,...,0.000000,0.000000,2003.0,0.0,0.0,0.0,0.0,0.0,21.722343,0.000000
36,ahmadrashad/2523758,"Rashad, Ahmad",2,1975,0.000000,0.0,1972,139.0,0,0.000000,...,0.000000,13.800000,1977.0,0.0,0.0,0.0,0.0,1.0,10166.437274,62.383562
43,alanricard/2503875,"Ricard, Alan",2,2000,0.000000,11.0,2001,55.0,0,0.000000,...,0.000000,0.000000,2003.0,0.0,0.0,0.0,0.0,1.0,382.627339,2.370370
44,alanrisher/2524210,"Risher, Alan",0,1985,0.000000,0.0,1985,19.0,0,0.000000,...,0.000000,0.000000,1986.0,0.0,0.0,0.0,0.0,0.0,83.621294,1.347368
46,albarnes/2509006,"Barnes, Al",2,1970,0.000000,0.0,1972,20.0,0,0.000000,...,0.000000,0.000000,1972.0,0.0,0.0,0.0,0.0,0.0,159.828754,2.636943
53,alchandler/2511334,"Chandler, Al",2,1975,0.000000,0.0,1973,85.0,0,0.000000,...,0.000000,0.000000,1977.0,0.0,0.0,0.0,0.0,0.0,542.775726,12.760274
55,aldelgreco/2500360,"Del Greco, Al",1,1990,0.000000,0.0,1984,248.0,0,0.000000,...,0.000000,0.000000,1992.0,0.0,0.0,0.0,0.0,1.0,9.708506,0.000000
56,aldenson/2512807,"Denson, Al",2,1965,0.000000,0.0,1964,98.0,0,0.000000,...,0.000000,16.442308,1968.0,0.0,0.0,0.0,0.0,0.0,5338.559264,36.800000
57,aldixon/2512973,"Dixon, Al",2,1980,0.000000,0.0,1977,79.0,0,0.000000,...,0.000000,0.000000,1980.0,0.0,0.0,0.0,0.0,0.0,1619.396151,10.415094
59,aledwards/2500509,"Edwards, Al",2,1990,0.000000,13.0,1990,37.0,0,0.000000,...,0.000000,0.000000,1991.0,0.0,0.0,0.0,0.0,2.0,335.717868,1.106952
64,alexespinoza/2513700,"Espinoza, Alex",0,1985,0.000000,0.0,1987,1.0,0,0.000000,...,0.000000,0.000000,1987.0,0.0,0.0,0.0,0.0,0.0,5.650087,0.000000
70,alexvandyke/2503446,"Van Dyke, Alex",2,1995,0.000000,12.0,1996,42.0,0,0.000000,...,0.000000,0.000000,1998.0,0.0,0.0,0.0,0.0,0.0,253.782227,3.089552
71,alexvanpelt/2503454,"Van Pelt, Alex",0,1995,0.549266,0.0,1995,31.0,0,0.050314,...,0.000000,0.000000,1999.0,0.0,0.0,3.0,0.0,0.0,55.890344,1.179724
73,alfrazier/2514390,"Frazier, Al",2,1960,0.000000,0.0,1961,31.0,0,0.000000,...,0.000000,0.000000,1962.0,0.0,0.0,0.0,0.0,0.0,1833.369108,11.949675
74,alfredanderson/2499417,"Anderson, Alfred",1,1985,0.000000,0.0,1984,108.0,0,0.000000,...,3.792332,0.000000,1988.0,0.0,0.0,0.0,0.0,0.0,3937.789493,35.206621
76,alfredjackson/2517223,"Jackson, Alfred",2,1980,0.000000,0.0,1978,88.0,0,0.000000,...,0.000000,0.000000,1981.0,0.0,0.0,0.0,0.0,0.0,3917.133367,27.339623
77,alfredjenkins/2517478,"Jenkins, Alfred",2,1975,0.000000,0.0,1975,110.0,0,0.000000,...,0.000000,17.408333,1979.0,0.0,0.0,0.0,0.0,0.0,9277.174342,56.712329
79,alfredoroberts/2502691,"Roberts, Alfredo",2,1990,0.000000,12.0,1988,80.0,0,0.000000,...,0.000000,0.000000,1990.0,0.0,0.0,0.0,0.0,0.0,520.532024,2.213904
81,alharris/2515899,"Harris, Al",2,1980,0.000000,0.0,1979,149.0,0,0.000000,...,0.000000,0.000000,1984.0,0.0,0.0,0.0,0.0,1.0,23.435766,0.000000
82,aljohnson/2517560,"Johnson, Al",2,1975,0.000000,0.0,1972,68.0,0,0.000000,...,0.000000,0.000000,1975.0,0.0,0.0,0.0,0.0,0.0,47.746755,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4411,willisadams/2508231,"Adams, Willis",2,1980,0.000000,0.0,1979,75.0,0,0.000000,...,0.000000,0.000000,1982.0,0.0,0.0,0.0,0.0,0.0,1266.768802,2.603774
4418,wilmontperry/2502454,"Perry, Wilmont",1,1995,0.000000,1.0,1998,13.0,0,0.000000,...,0.000000,0.000000,1998.0,0.0,0.0,0.0,0.0,0.0,350.916553,0.000000
4421,winslowoliver/2502358,"Oliver, Winslow",2,1995,0.000000,13.0,1996,64.0,0,0.000000,...,0.000000,0.000000,1998.0,0.0,0.0,0.0,0.0,1.0,533.813066,0.000000
4422,woodiepippens/2523266,"Pippens, Woodie",1,1985,0.000000,0.0,1987,2.0,0,0.000000,...,0.000000,0.000000,1987.0,0.0,0.0,0.0,0.0,0.0,32.534729,0.000000
4424,woodycampbell/2510998,"Campbell, Woody",1,1965,0.000000,0.0,1967,50.0,0,0.000000,...,3.659314,0.000000,1969.0,0.0,0.0,0.0,0.0,0.0,3211.717112,23.497452
4425,woodydantzler/2504942,"Dantzler, Woody",1,2000,0.000000,0.0,2002,14.0,0,0.000000,...,0.000000,0.000000,2002.0,0.0,0.0,0.0,0.0,0.0,21.709104,1.185185
4426,woodythompson/2527305,"Thompson, Woody",1,1975,0.000000,0.0,1975,35.0,0,0.000000,...,3.623967,0.000000,1976.0,0.0,0.0,0.0,0.0,0.0,1457.539060,1.286432
4434,yanceythigpen/2503292,"Thigpen, Yancey",2,1995,0.000000,230.0,1991,112.0,0,0.000000,...,0.000000,16.233227,1996.0,0.0,0.0,0.0,0.0,2.0,5892.197580,30.895522
4438,zachthomas/2527295,"Thomas, Zach",2,1980,0.000000,0.0,1983,30.0,0,0.000000,...,0.000000,0.000000,1984.0,0.0,0.0,0.0,0.0,0.0,236.961629,0.000000
4442,zenonandrusyshyn/2508570,"Andrusyshyn, Zenon",0,1975,0.000000,0.0,1978,16.0,0,0.000000,...,0.000000,0.000000,1978.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
4443,zeronflemister/2504039,"Flemister, Zeron",2,2000,0.000000,27.0,2000,60.0,0,0.000000,...,0.000000,0.000000,2002.0,0.0,0.0,0.0,0.0,0.0,499.787201,4.335079
4444,zoladavis/2500341,"Davis, Zola",2,1995,0.000000,2.0,1999,6.0,0,0.000000,...,0.000000,0.000000,1999.0,0.0,0.0,0.0,0.0,0.0,44.035272,0.000000
4446,"Stabler, Ken","Stabler, Ken",0,1975,0.598471,0.0,1970,184.0,1,0.058529,...,0.000000,0.000000,1977.0,1.0,0.0,26.0,3.0,1.0,113.942524,5.145729
4447,"Bettis, Jerome","Bettis, Jerome",1,1995,0.000000,0.0,1993,192.0,1,0.000000,...,3.926991,0.000000,1999.0,0.0,0.0,0.0,0.0,1.0,16086.188915,110.444391
4448,"Brown, Tim","Brown, Tim",2,1995,0.000000,0.0,1988,255.0,1,0.000000,...,0.000000,13.650823,1996.0,0.0,0.0,0.0,0.0,1.0,17506.223641,104.164798
4449,"Smith, Emmitt","Smith, Emmitt",1,1995,0.000000,0.0,1990,226.0,1,0.000000,...,4.163076,6.260194,1997.0,1.0,1.0,0.0,0.0,3.0,23092.031483,204.803013
4450,"Monk, Art","Monk, Art",2,1985,0.000000,0.0,1980,224.0,1,0.000000,...,0.000000,13.532979,1987.5,0.0,0.0,0.0,0.0,3.0,15698.086048,75.677419
4451,"Moon, Warren","Moon, Warren",0,1990,0.584494,0.0,1984,208.0,1,0.034149,...,3.197053,0.000000,1992.0,0.0,0.0,37.0,2.0,0.0,2106.745786,30.608696
4454,"Lofton, James","Lofton, James",2,1985,0.000000,0.0,1978,233.0,1,0.000000,...,0.000000,18.329843,1985.5,0.0,0.0,0.0,0.0,3.0,17146.326026,84.815110
4455,"Stallworth, John","Stallworth, John",2,1980,0.000000,0.0,1974,165.0,1,0.000000,...,0.000000,16.243948,1980.5,0.0,0.0,0.0,0.0,4.0,11478.968062,83.261586
4456,"Swann, Lynn","Swann, Lynn",2,1975,0.000000,0.0,1974,116.0,1,0.000000,...,0.000000,16.255952,1978.0,0.0,1.0,0.0,0.0,4.0,8166.254480,73.594651
4457,"Montana, Joe","Montana, Joe",0,1985,0.632350,0.0,1979,192.0,1,0.025784,...,3.667396,0.000000,1986.5,2.0,3.0,33.0,5.0,4.0,1893.909315,26.947368
4458,"Joiner, Charlie","Joiner, Charlie",2,1975,0.000000,0.0,1969,239.0,1,0.000000,...,0.000000,16.194667,1977.5,0.0,0.0,0.0,0.0,0.0,17990.316453,92.157534
4460,"Dorsett, Tony","Dorsett, Tony",1,1980,0.000000,0.0,1977,173.0,1,0.000000,...,4.338896,8.929648,1982.5,0.0,0.0,0.0,0.0,2.0,18598.352673,112.613849
4462,"Griese, Bob","Griese, Bob",0,1970,0.561680,0.0,1967,161.0,1,0.050160,...,3.808429,0.000000,1973.5,0.0,0.0,20.0,1.0,3.0,1588.634570,12.273973
4463,"Bradshaw, Terry","Bradshaw, Terry",0,1975,0.519098,0.0,1970,168.0,1,0.053832,...,5.083333,0.000000,1976.5,1.0,2.0,27.0,4.0,4.0,2766.729233,41.165829
4464,"Biletnikoff, Fred","Biletnikoff, Fred",2,1970,0.000000,0.0,1965,190.0,1,0.000000,...,0.000000,15.235993,1971.5,0.0,1.0,0.0,0.0,2.0,14201.022154,100.203822
4465,"Csonka, Larry","Csonka, Larry",1,1970,0.000000,0.0,1968,146.0,1,0.000000,...,4.273400,0.000000,1973.5,0.0,1.0,0.0,0.0,3.0,14212.867033,117.493063
4468,"Simpson, O.J.","Simpson, O.J.",1,1970,0.000000,0.0,1969,135.0,1,0.000000,...,4.673877,10.551724,1974.0,1.0,0.0,0.0,0.0,0.0,21347.279448,125.417503
4469,"Staubach, Roger","Staubach, Roger",0,1970,0.569642,0.0,1969,131.0,1,0.036849,...,5.521951,0.000000,1974.0,0.0,1.0,23.0,2.0,4.0,3597.806923,35.068493

## Lasso

In [3]:
from sklearn.linear_model import Lasso, Ridge, LassoCV, LogisticRegression
from sklearn.feature_selection import SelectKBest, SelectFromModel
#separate predictor columns
text_hof = ['Name','Player Id','HOF','Position']
data = career.drop(text_hof,axis=1)
#standardize features
scaler = StandardScaler()
X = scaler.fit_transform(data)
#make new df and calculate # of features for different alpha levels
new_df = pd.DataFrame(columns=['alpha','# of features'])
rowcount = 0
for a in [1,.1,.01,.001,.0001]:
    clf = Lasso(alpha=a)
    clf.fit(X,career['HOF'])
    var_count = pd.DataFrame(abs(clf.coef_),columns=['coef'])
    var_count = len(var_count[var_count['coef']>0])
    new_df.loc[rowcount,'alpha'] = a
    new_df.loc[rowcount,'# of features'] = var_count
    rowcount += 1
new_df

/Users/apple/anaconda3/lib/python3.5/site-packages/sklearn/linear_model/coordinate_descent.py:491: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Fitting data with very small alpha may cause precision problems.
  ConvergenceWarning)

    alpha # of features
0       1             0
1     0.1             0
2    0.01            10
3   0.001            24
4  0.0001            40

In [4]:
#choose optimal alpha level and get our new features
clf = Lasso(alpha=.01)
clf.fit(X,career['HOF'])
df = pd.DataFrame({'columns': data.columns,
              'doef': abs(clf.coef_)}).sort_values('doef',ascending=False)
columns_wanted = list(df.loc[df['doef']>0,'columns'])
columns_wanted

['RRTD',
 'SB MVP',
 'Receiving Yards Per Game',
 'Rushing Yards adj',
 'MVP',
 'PGWD',
 'TD Passes adj',
 'RRYd',
 'Passing Yards Per Game',
 'SB']

In [5]:
career = career[columns_wanted + text_hof]
currentplayers = currentplayers[columns_wanted + text_hof]
career.shape

(2153, 14)

In [6]:
#save csv files
career.to_csv('Data/career.csv')
currentplayers.to_csv('Data/currentplayers.csv')

In [7]:
#create an appendix
appendix = pd.DataFrame()
appendix['Columns'] = career.columns
for a in career.columns:
    dtype = career[str(a)].dtype
    appendix.loc[appendix['Columns']==a,'Data Type'] = dtype

appendix

                     Columns Data Type
0                       RRTD   float64
1                     SB MVP   float64
2   Receiving Yards Per Game   float64
3          Rushing Yards adj   float64
4                        MVP   float64
5                       PGWD   float64
6              TD Passes adj   float64
7                       RRYd   float64
8     Passing Yards Per Game   float64
9                         SB   float64
10                      Name    object
11                 Player Id    object
12                       HOF     int64
13                  Position     int64